@charset "utf-8";

/* layer */

	.wrap{
	    display: flex;
	    flex-direction: column;
	    height: 100%;
	}
	header{
	    flex: none;
	    height: 60px;
	}
	header > .inner{
	    width: 768px;
	    margin: 0 auto;
	}
	.container{
	    flex: 1 1 auto;
	    background: #f7f9fc;
	    background: #ddd;
	}
	.co-inner{
	    width: 768px;
	    height: 100%;
	    margin: 0 auto;
	    padding-top: 30px;
	    font-size: 0;
	}
	nav{
	    display: inline-block;
	    vertical-align: top;
	    width: 194px;
	}
	.contents{
		position: relative;
	    display: inline-block;
	    vertical-align: top;
	    width: calc(100% - 194px);
	    height: 100%;
	    background: #fff;
	    border-radius: 5px 0 0 5px;
	}
	.content{
	    background: #ddd;
	}
	.content > .inner{
		padding: 30px;
		background: #fff;
		border-radius: 5px 0 0 5px;
	}
	.content + .content{
		position: relative;
		margin-top: 30px;
	}
	.content + .content:before{
		content: '';
		position: absolute;
		top: -30px;
		left: 0;
		width: 100%;
		height: 30px;
		background: #ddd;
	}
	.f-btn-area{
	    flex: none;
	    padding: 60px 0 30px 0;
	    background: #f7f9fc;
	    background: #333;
	}
	.f-btn-area > .inner{
		width: 768px;
	    margin: 0 auto;
	}


	.n-ele{
	    display: flex;
	    flex-direction: row;
	}
	.n-ele > *{
	    flex: 1 1 100%;
	}
	.n-ele > * + *{
	    margin-left: 12px;
	}

/* layer */


/* common */

	.tit-h1{
	    font-weight: 700;
	    font-size: 22px;
	    color: #000;
	    line-height: 33px;
	}

	.tit-h2{
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 27px;
	    color: #000;
	}
	.tit-h2 small{
	    padding-left: 12px;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: -0.4px;
	}
	.c-title{
		padding: 30px 0 9px 0;
		font-weight: 400;
		font-size: 15px;
		color: #000;
		line-height: 22px;
	}
	.star-mark{
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    overflow: hidden;
	}
	.star-mark > .txt{
	    position: absolute;
	    top: 0;
	    left: -999px;
	}
	.star-mark:before{
	    content: '*';
	    display: inline-block;
	    vertical-align: middle;
	    font-weight: 400;
	    font-size: 12px;
	    color: #000;
	    line-height: normal;
	}
	.selectbox{
	    display: block;
	    width: 100%;
	    height: 60px;
	    padding: 0 42px 0 18px;
	    font-size: 15px;
	    color: #000;    
	    border: 1px solid #acb8cf;
	    border-radius: 5px;
	    background: url(../img/btn-arrow-black-20-open.png) no-repeat right 12px center / 15px 15px;
	    -moz-appearance:none; /* Firefox */
		-webkit-appearance:none; /* Safari and Chrome */
		appearance:none;
	}
	select::-ms-expand {display:none}

	

	.input-radio {
	    display: inline-block;
	}
	.input-radio > input {
	    opacity: 0;
	    width: 0;
	    height: 0;
	    position: absolute;
	    overflow: hidden;
	    -webkit-appearance: none;
	}
	.input-radio > span {
	    display: block;
	    position: relative;
	    padding: 20px 60px 20px 18px;
	    font-weight: 500;
	    font-size: 15px;
	}
	.input-radio > span::before {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    box-sizing: border-box;
	    right: 18px;
	    top: 18px;
	    width: 25px;
	    height: 25px;
	    background: url(../img/radio-off.png) no-repeat 0 0;
	    transition: .3s;
	}
	.input-radio > span::after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    border-radius: 5px;
	    top: 0;
	    left: 0;
	    border: 1px solid #acb8cf;
	    transition: .3s;
	}
	.input-radio > input:checked + span::before {
	    background: url(../img/radio-on.png) no-repeat 0 0;
	}
	.input-radio > input:checked + span::after {
	    border: 1px solid #e15d5d;
	}
	/*
	.input-radio > input:disabled + span {
	    opacity: 0.5;
	}
	.input-radio > input:disabled + span::before {
	    border-color: #ddd;
	    background-color: #f5f5f5;
	}
	.input-radio > input:checked:disabled + span::before {
	    background-color: #fff;
	    border-color: #056bff;
	}
	.input-radio > input:checked:disabled + span::after {
	    background-color: #056bff;
	}
	*/
	.input-radio > span .txt{
		display: block;
		margin-top: 9px;
		font-size: 12px;
		line-height: 18px;
	}

	.brd-box{
	    padding: 21px 18px;
	    border: 1px solid #f0f0f0;
	    border-radius: 5px;
	}

/* common */


/* words */

	.list01{

	}
	.list01 > li{
	    position: relative;
	    padding-left: 7px;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #000;
	}
	.list01 > li:before{
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 9px;
	    width: 4px;
	    border-bottom: 1px solid #000;
	}
	.t-cell{
	    display: table;
	    width: 100%;
	}
	.t-cell > *{
	    display: table-cell;
	    vertical-align: top;
	}
	.t-cell > .t{
	    width: 10px;
	    white-space: nowrap;
	}

	.n-txt01{
	    position: relative;
	    padding-left: 8px;
	    font-weight: 400;
	    font-size: 12px;
	    color: #888;
	}
	.n-txt01:before{
	    content: '*';
	    position: absolute;
	    top: 3px;
	    left: 0;
	    font-weight: 400;
	    font-size: 12px;
	    color: #888;
	}
	.list01 + .n-txt01{
		margin-top: 12px;
	}

/* // words */


/* nav */

	.nav-tit{
	    margin-bottom: 12px;
	    padding-left: 34px;
	    font-weight: 500;
	    font-size: 15px;
	    line-height: 16px;
	}
	.nav-list + .nav-tit{
	    margin-top: 30px;
	}
	.nav-list{

	}
	.nav-list > li{
	    position: relative;
	    width: 164px;
	    padding-left: 34px;
	    line-height: 36px;
	    font-weight: 400;
	    font-size: 13px;
	    color: #000;
	    border-radius: 0 18px 18px 0;
	}
	.nav-list > li.passed{
	    color: #e15d5d;
	    background: url(../img/ico-left-check.png) no-repeat left 15px center;
	}
	.nav-list > li.ing{
	    color: #e15d5d;
	    background: #fff;
	}
	.nav-list > li.ing:before{
	    content: '';
	    position: absolute;
	    left: 18px;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 7px;
	    border-bottom: 7px solid #e15d5d;
	    border-radius: 50%;
	}
	.nav-list > li + li{
	    margin-top: 2px;    
	}

/* // nav */


/* button */

	.btn-area{
	    display: flex;
	    flex-direction: row;
	}
	.btn-area > *{
	    flex: 1 1 auto;
	}
	.btn-area > * + *{
	    margin-left: 12px;
	}

	.btn{
	    display: block;
	    width: 100%;
	    height: 60px;
	    border: 1px solid #e15d5d;
	    border-radius: 5px;
	}
	.btn.big{
		height: 70px;
	}
	.btn.ty2{
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		background: #e15d5d;
	}

/* // button */

/*content*/

	.top-title{
	    position: relative;
	}

	.desc{
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #888;
	}
	.desc > strong{
	    color: #000;
	}



/*content*/