@charset "utf-8";

/* layer */

	.wrap{
		position: relative;
	    display: flex;
	    flex-direction: column;
	    height: 100%;
	    /*overflow: hidden;*/
	}
	header{
	    flex: none;
	    height: 60px;
	}
	header > .inner{
		position: relative;
	    width: 768px;
	    margin: 0 auto;
	}
	header h1{
		position: absolute;
		top: 17px;
		left: 30px;
		display: inline-block;
		padding-left: 130px;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: -0.3px;
		background: url(../img/ci.png) no-repeat left center;
	}
	.container{
	    flex: 1 1 100%;
	    background: #f3f5f9;
	    overflow: hidden;
	}

	.co-inner{
		position: relative;
	    width: 768px;
	    height: 100%;
	    min-height: 100%;
	    margin: 0 auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    font-size: 0;
	}
	.co-inner:before{
		content: '';
		position: absolute;
		top: 30px;
		right: 0;
		width: 574px;
		height: calc(100% - 160px);
		background: #fff;
		border-radius: 10px 0 0 10px;
	}
	nav{
	    display: inline-block;
	    vertical-align: top;
	    width: 194px;
	}
	.contents{
		position: relative;
		z-index: 1;
	    display: inline-block;
	    vertical-align: top;
	    width: 574px;
	    height: 100%;
	    background: #fff;
	    border-radius: 10px 0 0 10px;
	    overflow: auto;
	}
	.contents > .scrollbar-outer{
		max-height: 100%;
		overflow: auto;
	}
	.content:first-child{
		min-height: 100%;
	}
	.content{
		position: relative;
	}
	.content:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background: url(../img/bg-side-t-l.png) no-repeat;
	}
	.content > .inner{
		padding: 30px;
		background: #fff;
		border-radius: 10px 0 0 10px;
	}
	.content:first-child > .inner:after{
		content: none;
	}
	.content + .content{
		margin-top: 20px;
	}
	.content + .content:before{
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		background: #f3f5f9;
	}
	.content.mark > .inner:after,
	.content + .content > .inner:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background: url(../img/bg-side-b-l.png) no-repeat;
	}
	.f-btn-area{
	    flex: none;
	    padding: 0 0 20px 0;
	    background: #f3f5f9;
	}
	.f-btn-area > .inner{
		width: 768px;
	    margin: 0 auto;
	}

	.n-ele{
	    display: flex;
	    flex-direction: row;
	}
	* + .n-ele{
		margin-top: 9px;
	}
	.selectbox + .n-ele{
		margin-top: 20px;
	}
	.txt-cont + .n-ele{
		margin-top: 20px;
	}
	.tit-h2 + .n-ele{
		margin-top: 12px;
	}
	.btn-area + .n-ele,
	.n-txt01 + .n-ele,
	.n-ele + .n-ele{
		margin-top: 20px;
	}
	
	.n-ele > *{
	    flex: 1 1 100%;
	    align-self: flex-start;
	}
	
	.n-ele > .text{
		font-weight: 400;
		font-size: 15px;
		align-self: center;
	}
	.n-ele > * + *{
	    margin-left: 12px;
	}
	.n-ele.ty1 > *:nth-child(1),
	.n-ele.ty1 > *:nth-child(2){
		flex: none;
		width: 120px;
	}
	.n-ele.ty2 > *:nth-child(2){
		flex: none;
		width: 65px;
	}
	.n-ele.ty3 > *:nth-child(1){
		flex: none;
		width: 90px;
	}
	.n-ele.ty4 > *:nth-child(1){
		flex: none;
		width: 164px;
	}
	.n-ele.ty5 > *:nth-child(2){
		flex: none;
		width: 226px;
	}
	.n-ele.ty6{
		padding-top: 9px;
	}
	.n-ele.ty6 + .n-ele.ty6{
		margin-top: 18px;
		padding-top: 0;
	}
	.n-ele.normal{
		display: block;
	}
	.n-ele.normal > *{
		display: inline-block;
		vertical-align: top;
		width: auto;
	}
	.n-ele.addr{
		flex-flow: row wrap;
	}
	.n-ele.addr > .eles{
		flex: none;
	}
	.n-ele.addr > .eles:nth-child(1){
		width: calc(100% - 145px);
	}
	.n-ele.addr > .eles:nth-child(2){
		width: 130px;
	}
	.n-ele.addr > .eles:nth-child(3){
		width: 100%;
		margin-left: 0;
		margin-top: 9px;
	}

	.n-ele .wave{
		flex: none;
		padding: 0 9px;
		font-weight: 400;
		font-size: 15px;
		color: #000;
		line-height: 60px;
	}
	.n-ele * + .wave{
		margin-left: 0;
	}
	.n-ele .wave + *{
		margin-left: 0;
	}

	.flex-none{
		flex: none !important;
	}

	/* 상하 보더 */

		.brd-ele{
		    margin: 20px 0 0 0;
		    padding: 20px 0;
		    border-top: 1px solid #eee;
		    border-bottom: 1px solid #eee;
		}
		.brd-ele + .brd-ele{
			padding-top: 0;
			border-top: 0;
		}
		.brd-ele + .brd-ele:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		.brd-ele.ty1{
			margin-top: 0;
			border-top: 0;
		}
		.brd-ele.ty2{
			padding-bottom: 0;
			border-bottom: 0;
		}
		.tit-h2.brd + .brd-ele{
			margin-top: 0;
			border-top: none;
		}
		.top-title + .brd-ele{
			margin-top: 20px;
		}

	/* // 상하 보더 */

/* layer */


/* common */
	.dp-none{
	    display: none !important;
	}

	.mt18{
		margin-top: 18px !important;
	}
	.mt30{
		margin-top: 30px !important;
	}
	.mt50{
		margin-top: 50px !important;
	}
	.ml0{
		margin-left: 0 !important;
	}
	.pt0{
		padding-top: 0 !important;
	}
	.pt11{
		padding-top: 11px !important;
	}
	.pt16{
		padding-top: 16px !important;
	}
	.pt20{
		padding-top: 20px !important;
	}
	.pl0{
		padding-left: 0 !important;
	}

	.t-left{
		text-align: left !important;
	}
	.t-right{
		text-align: right !important;
	}
	.t-center{
		text-align: center !important;
	}

	.brd-b-none{
		border-bottom: none !important;
	}

	.tit-h1{
	    font-weight: 700;
	    font-size: 22px;
	    color: #000;
	    line-height: 33px;
	}
	.tit-h2{
		position: relative;
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 27px;
	    color: #000;
	}
	.tit-h2.brd{
	    padding: 17px 0;
	    border-top: 1px solid #acb8cf;
	    border-bottom: 1px solid #d6dde8;
	}
	.tit-h2.brd.ty1{
		padding-top: 0;
		border-top: 0;
	}
	.tit-h2.chk-add .input-checkbox{
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: 0;
		transform: translateY(-50%);
	}
	.tit-h2.brd.chk-add .input-checkbox{
		right: 18px;
	}

	.tit-h2 small{
	    padding-left: 12px;
	    font-weight: 400;
	    font-size: 12px;
	    letter-spacing: -0.4px;
	}
	* + .tit-h2{
		margin-top: 30px;
	}
	.c-title{
		font-weight: 400;
		font-size: 15px;
		color: #000;
		line-height: 22px;
	}
	.selectbox + .c-title,
	.n-ele + .c-title{
		padding-top: 20px;
	}
	* + .c-title{
		padding-top: 30px;
	}
	.btn-area + .c-title{
		padding-top: 9px;
	}
	.input-text + .c-title{
		padding-top: 20px;
	}
	.tit-h2 + .c-title{
		padding-top: 12px;
	}
	.c-title > small{
		padding-left: 12px;
		font-size: 12px;
		color: #e15d5d;
	}
	.star-mark{
	    position: relative;
	    display: inline-block;
	    vertical-align: bottom;
	    overflow: hidden;
	}
	.star-mark:before{
	    content: '*';
	    display: inline-block;
	    vertical-align: middle;
	    font-weight: 400;
	    font-size: 12px;
	    color: #000;
	    line-height: 1;
	}
	.c-title > .star-mark:before{
		font-size: 15px;
	}
	* + .selectbox{
		margin-top: 9px;
	}
	.selectbox > select{
	    display: block;
	    width: 100%;
	    height: 50px;
	    padding: 0 42px 0 18px;
	    font-size: 15px;
	    color: #000;    
	    border: 1px solid #acb8cf;
	    border-radius: 5px;
	    background: url(../img/ico-arrow-down.png) no-repeat right 12px center;
		letter-spacing: -0.5px;
	}
	.selectbox > select:focus{
		border: 1px solid #000;
	}
	.selectbox > select:disabled{
		color: #5f6879;
		border: none;
		background: #f3f5f9 url(../img/ico-arrow-down.png) no-repeat right 12px center;
		opacity: 1;
	}
	.selectbox.word-add {
	    display: flex;
	    flex-direction: row;
	}
	.selectbox.word-add > *{
		align-self: center;
	}
	.selectbox.word-add .sub-txt{
		flex: none;
		padding: 0 12px;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
	}

	.input-radio {
	    display: block;
	    width: 100%;
	}
	.input-radio > input {
	    opacity: 0;
	    width: 0;
	    height: 0;
	    position: absolute;
	    overflow: hidden;
	    -webkit-appearance: none;
	}
	.input-radio > span {
	    display: block;
	    position: relative;
	    padding: 20px 60px 20px 18px;
	    font-weight: 500;
	    font-size: 15px;
	    transition: .3s;
	}
	.input-radio > span::before {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    box-sizing: border-box;
	    right: 18px;
	    top: 18px;
	    width: 25px;
	    height: 25px;
	    background: url(../img/radio-off.png) no-repeat 0 0;
	    transition: .3s;
	}
	.input-radio > span::after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    border-radius: 5px;
	    top: 0;
	    left: 0;
	    border: 1px solid #acb8cf;
	    transition: .3s;
	    box-sizing: border-box;
	}
	.input-radio > input:checked + span{
		color: #e15d5d;	
	}
	.input-radio > input:checked + span::before {
	    background: url(../img/radio-on.png) no-repeat 0 0;
	}
	.input-radio > input:checked + span::after {
	    border: 1px solid #e15d5d;
	}

	.input-radio > span .tit-txt,
	.input-checkbox > span .tit-txt{
		display: block;
		margin-bottom: 25px;
		font-weight: 400;
		font-size: 18px;
	}
	.input-radio > span .txt,
	.input-checkbox > span .txt{
		display: block;
		margin-top: 9px;
		font-size: 12px;
		line-height: 18px;
	}
	.input-radio > span .txt02,
	.input-checkbox > span .txt02{
		display: block;
		font-size: 15px;
		line-height: 22px;
	}

	.input-radio.normal{
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
	.input-radio.normal + .input-radio.normal{
		margin-left: 35px;
	}
	.input-radio.normal > span{
		line-height: 25px;
		padding: 0 0 0 37px;
	}
	.input-radio.normal > span:before{
		top: 0;
		left: 0;
	}
	.input-radio.normal > span:after{
		content: none;
	}

	.input-checkbox {
	    display: block;
	    width: 100%;
	}
	.input-checkbox > input {
	    opacity: 0;
	    width: 0;
	    height: 0;
	    position: absolute;
	    overflow: hidden;
	    -webkit-appearance: none;
	}
	.input-checkbox > span {
	    display: block;
	    position: relative;
	    padding: 14px 60px 14px 18px;
	    font-weight: 400;
	    font-size: 15px;
	    line-height: 22px;
	    border-radius: 5px;
	    transition: .3s;
	}
	.input-checkbox > span::after {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    box-sizing: border-box;
	    right: 18px;
	    top: 12px;
	    width: 25px;
	    height: 25px;
	    background: url(../img/check-off.png) no-repeat 0 0;
	    transition: .3s;
	}
	.input-checkbox > span::before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    border-radius: 5px;
	    top: 0;
	    left: 0;
	    border: 1px solid #acb8cf;
	    transition: .3s;
	    box-sizing: border-box;
	}
	.input-checkbox > input:checked + span{
	    color: #e15d5d; 
	}
	.input-checkbox > input:checked + span::after {
	    background: url(../img/check-on.png) no-repeat 0 0;
	}
	.input-checkbox > input:checked + span::before {
	    border: 1px solid #e15d5d;
	}
	
	.input-checkbox > input:disabled + span {
		color: #5f6879;
		background: #f3f5f9;		
	}
	.input-checkbox > input:disabled + span::before {
	    border-color: #f3f5f9;
	}.input-checkbox > input:checked:disabled + span::after {
	    background-image: url(../img/check-disable-on.png);
	}
	
	.input-checkbox.free{
		margin: 30px 0 25px 0;
	}
	.input-checkbox.free > span{
		padding: 0;
		line-height: 25px;		
	}
	.input-checkbox.free > span:before{
		content: none;
	}
	.input-checkbox.free > span:after{
		position: static;
		vertical-align: bottom;
		margin-left: 12px;
	}

	.input-checkbox.single{
		display: inline-block;
		vertical-align: middle;
		width: 26px;
		height: 26px;
		font-size: 0;
	}
	.input-checkbox.single > span{
		width: 26px;
		height: 26px;
		padding: 0;
		font-size: 0;
		border-radius: 50%;
	}
	.input-checkbox.single > span:before{
		content: none;
	}
	.input-checkbox.single > span:after{
		top: 0;
		left: 0;
	}
	.input-checkbox.normal{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0;
	}
	.input-checkbox.normal > span{
		padding: 0 0 0 37px;
		line-height: 25px;
	}
	.input-checkbox.normal > span:before{
		content: none;
	}
	.input-checkbox.normal > span:after{
		top: 0;
		left: 0;
	}
	.input-checkbox.normal > input:disabled + span {
		background: none;
	}

	.input-checkbox.mini{
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		font-size: 0;
	}
	.input-checkbox.mini + .input-checkbox.mini{
		margin-top: 0;
		margin-left: 9px;
	}
	.input-checkbox.mini > span{
		width: 30px;
		height: 30px;
		padding: 0;
		color: #5f6879;
		background: #fff;
		border: 1px solid #acb8cf;
		text-align: center;
		line-height: 28px;
		border-radius: 5px;
	}
	.input-checkbox.mini input:checked + span{
		border: 1px solid #e15d5d;
		background: #fff;
	}
	.input-checkbox.mini input:disabled + span{
		border: 1px solid #f3f5f9;
		background: #f3f5f9;
	}
	.input-checkbox.mini input:checked:disabled + span{
		color: #fff;
		border: 1px solid #acb8cf;
		background: #acb8cf;
	}
	.input-checkbox.mini > span:before{
		content: none;
	}
	.input-checkbox.mini > span:after{
		content: none;
	}
	* + .input-checkbox{
		margin-top: 9px;
	}
	.tit-h2 + .input-checkbox{
		margin-top: 12px;
	}

	.input-text{
	    position: relative;
	}
	.input-text > input{
	    display: block;
	    width: 100%;
	    height: 50px;
	    padding: 0 18px;
	    font-weight: 400;
	    font-size: 15px;
	    color: #000;
	    border: 1px solid #acb8cf;
	    border-radius: 5px;
	    letter-spacing: -0.5px;
	    transition: 0.5s;
	}
	.input-text > input:focus{
	    border-color: #000;
	}
	.input-text > input:disabled{
	    border-color: #f3f5f9;
	    background-color: #f3f5f9;
	    color: #5F6879;
	}
	.input-text > input.inp-date{
		padding-right: 50px;
		background: url(../img/ico-calender.png) no-repeat right 18px center;
	}
	.input-text > input.inp-date:disabled{
		border-color: #f3f5f9;
		background: #f3f5f9 url(../img/ico-calender.png) no-repeat right 18px center;
	}
	.input-text > .msg {
	    margin: 9px 0 0;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #e15d5d;
	    letter-spacing: -0.4px;
	}
	.input-text.word-add {
	    display: flex;
	    flex-direction: row;
	}
	.input-text.word-add > *{
		align-self: center;
	}
	.input-text.word-add .sub-txt{
		flex: none;
		padding: 0 12px;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		transition: 0.5s;
	}
	.input-text.word-add:disabled + .sub-txt{
		color: #888;
	}

	.input-text > input.email-auto.on{
		border: 1px solid #000;
		border-radius: 5px 5px 0 0;
		transition: 0;
	}

	.inp-width01{
		width: 140px !important;
	}
	.inp-width02{
		width: 106px !important;
	}
	* + .input-text {
		margin-top: 9px;
	}
	
	.textarea{}
	.textarea > textarea{
	    display: block;
	    width: 100%;
	    height: 82px;
	    padding: 18px;
	    font-weight: 400;
	    font-size: 15px;
	    color: #000;
	    border: 1px solid #acb8cf;
	    border-radius: 5px;
	    resize: none;
	}
	.textarea > textarea[readonly],
	.textarea > textarea[disabled]{
		color: #5f6879;
		border: none;
		background: #f3f5f9;
	}
	* + .textarea{
		margin-top: 9px;
	}	

	.brd-box{
	    padding: 21px 18px;
	    border: 1px solid #f0f0f0;
	    border-radius: 5px;
	}	
	* + .brd-box{
		margin-top: 9px;
	}
	.brd-box.scroll-in{
		max-height: 140px;
		padding: 0 18px;
		overflow: auto;
	}
	.brd-box.scroll-in > .inner{
		padding: 21px 0;
	}
	.tit-h2 + .brd-box{
		margin-top: 9px;
	}
	.input-checkbox + .brd-box{
		margin-top: 30px;
	}
	* + .inp-file {
		margin-top: 9px;
	}
	.inp-file {
	    display: flex;
	    flex-direction: row;
	}
	.inp-file [type="file"] {
		flex: none;
	    position: absolute;
	    width: 1px;
	    height: 1px;
	    padding: 0;
	    margin: -1px;
	    overflow: hidden;
	    clip: rect(0, 0, 0, 0);
	    border: none;
	}
	.inp-file .input-text {
		flex: 1 1 auto;
	}
	.inp-file .file-label {
		flex: none;
	    display: inline-block;
	    width: 100px;
	    height: 50px;
	    margin-left: 12px;
	    font-weight: 700;
	    font-size: 18px;
	    color: #e15d5d;
	    line-height: 48px;
	    border-radius: 5px;
	    border: 1px solid #e15d5d;
	    text-align: center;
	    vertical-align: middle;
	}
	.c-title + .bg-box{
		margin-top: 9px;
	}
	.bg-box{
	    padding: 20px 18px;
	    border-radius: 5px;
	}
	.bg-box.ty1{
	    background: #f3f5f9;
	}	

/* common */


/* words */

	.color01{
		color: #000 !important;
	}
	.color02{
		color: #e15d5d !important;
	}
	.color03{
		color: #888 !important;
	}

	.list01{}
	.list01 > li{
	    position: relative;
	    padding-left: 7px;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #000;
	}
	.list01 > li:before{
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 9px;
	    width: 4px;
	    border-bottom: 1px solid #000;
	}
	* + .list02{
		margin-top: 9px;
	}
	.brd-ele + .list02{
		margin-top: 20px;
	}
	.list02{}
	.list02 > li + li{
	    margin-top: 12px;    
	}
	* + .list03{
	    margin-top: 9px;
	}
	.list03{
	    border-top: 1px solid #acb8cf;
	}
	.list03 > li{
	    display: flex;
	    flex-direction: row;
	    padding: 17px 0;
	    border-bottom: 1px solid #eee;
	}
	.list03 > li > *{
	    flex: 1 1 auto;
	    align-self: center;
	}
	.list03 > li > * + *{
	    margin-left: 12px;
	}
	
	.list04{}
	.list04 > li{
	    position: relative;
	    text-indent: -14px;
	    margin-left: 14px;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #888;
	}
	.list04 > li li{
		margin-left: 0;
		text-indent: 0;
	}
	.list04 > li + li{
		margin-top: 3px;
	}

	.t-cell{
	    display: table;
	    width: 100%;
	}
	.t-cell > *{
	    display: table-cell;
	    vertical-align: top;
	}
	.t-cell > .t{
	    width: 10px;
	    white-space: nowrap;
	}

	.n-txt01{
	    position: relative;
	    padding-left: 8px;
	    font-weight: 400;
	    font-size: 12px;
	    color: #888;
	}
	.n-txt01.bl{
		color: #000;
	}
	.n-txt01.red{
		color: #e15d5d;
	}
	.n-txt01:before{
	    content: '*';
	    position: absolute;
	    top: 3px;
	    left: 0;
	    font-weight: 400;
	    font-size: 12px;
	    color: #888;
	}
	.n-txt01.bl:before{
		color: #000;
	}
	.n-txt01.red:before{
		color: #e15d5d;
	}

	.bg-box .desc + .n-txt01 {
	    margin-top: 0;
	}
	.n-txt01 + .n-txt01{
		margin-top: 0;
	}
	* + .n-txt01{
		margin-top: 9px;
	}
	.list01 + .n-txt01,
	.desc + .n-txt01{
		margin-top: 12px;
	}
	.tit-h1 + .n-txt01{
		margin-top: 12px;
	}

	.text{
	    font-weight: 400;
	    font-size: 15px;
	    line-height: 22px;
	    color: #000;
	}

	.txt-cont{}
	.txt-cont + .txt-cont{
	    margin-top: 18px;
	}
	.txt-cont > dt{
	    font-weight: 400;
	    font-size: 15px;
	    line-height: 18px;
	    color: #000;
	}
	.txt-cont > dt + dd{
	    margin-top: 9px;
	}
	.txt-cont > dd{
	    font-size: 12px;
	    line-height: 18px;
	    color: #888;
	}
	.txt-cont > dd + dd{
		margin-top: 9px;
	}
	.tit-h2 + .txt-cont{
	    margin-top: 30px;
	}

	.txt-cont2{
	    text-align: center;
	}
	.txt-cont2 > dt{
	    font-weight: 500;
	    font-size: 18px;
	    color: #000;
	}
	.txt-cont2 > dt + dd{
	    margin-top: 9px;
	}
	.txt-cont2 > dd{
	    font-weight: 400;
	    font-size: 15px;
	    line-height: 24px;
	    color: #888;
	    letter-spacing: -0.25px;
	}
	* + .tbl-div {
	    margin-top: 9px;
	}
	.tbl-div {
	    position: relative;
	    border-top: 1px solid #acb8cf;
	    border-bottom: 1px solid #acb8cf;
	}
	.tbl-div table {}
	.tbl-div table thead th {
	    height: 20px;
	    padding: 6px 0;
	    border: 1px solid #acb8cf;
	    font-weight: 400;
	    font-size: 15px;
	    color: #333;
	    word-break: break-all;
	}
	.tbl-div table tr th:first-child,
	.tbl-div table tr td:first-child {
	    border-left: none;
	}

	.tbl-div table tr th:last-child,
	.tbl-div table tr td:last-child {
	    border-right: none;
	}
	.tbl-div table td {
	    padding: 8px 20px;
	    border: 1px solid #acb8cf;
	    border-bottom: none;
	    word-break: break-all;
	    text-align: center;
	}
	.tbl-div table td.none,
	.tbl-div.only table td.none {
	    border-bottom: none;
	}
	.tbl-div table thead tr:first-child th {
	    border-top: none;
	}

	.top-title + .tbl-div02{
	    margin-top: 20px;
	}
	.tbl-div02{
	    padding: 14px 0;
	    border-top: 1px solid #eee;
	    border-bottom: 1px solid #eee;
	}
	.tbl-div02 table tbody th{
	    padding: 6px 0;
	    font-weight: 400;
	    font-size: 15px;
	    color: #000;
	    line-height: 22px;
	    text-align: left;
	}
	.tbl-div02 table tbody td{
	    padding: 6px 0;
	    font-weight: 400;
	    font-size: 15px;
	    color: #888;
	    line-height: 19px;
	    letter-spacing: -0.25px;
	}
	.sub-txt{
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 27px;
	    color: #000;
	}
	.badge{
	    display: inline-block;
	    vertical-align: middle;
	    padding: 0 12px;
	    font-weight: 400;
	    font-size: 15px;
	    color: #e15d5d;
	    line-height: 28px;
	    border: 1px solid #e15d5d;
	    border-radius: 5px;
	}
	.tit-h2 + .badge{
	    margin-left: 12px;
	}

/* // words */


/* nav */

	.nav-tit{
	    margin-bottom: 12px;
	    padding-left: 34px;
	    font-weight: 500;
	    font-size: 15px;
	    line-height: 16px;
	}
	.nav-list + .nav-tit{
	    margin-top: 30px;
	}
	.nav-list{

	}
	.nav-list > li{
	    position: relative;
	    width: 164px;
	    padding-left: 34px;
	    line-height: 36px;
	    font-weight: 400;
	    font-size: 13px;
	    color: #000;
	    border-radius: 0 18px 18px 0;
	}
	.nav-list > li.passed{
	    color: #e15d5d;
	    background: url(../img/ico-left-check.png) no-repeat left 15px center;
	}
	.nav-list > li.ing{
	    color: #e15d5d;
	    background: #fff;
	}
	.nav-list > li.ing:before{
	    content: '';
	    position: absolute;
	    left: 18px;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 8px;
	    border-bottom: 8px solid #e15d5d;
	    border-radius: 50%;
	}
	.nav-list > li + li{
	    margin-top: 2px;    
	}

/* // nav */


/* button */

	.btn-area{
	    display: flex;
	    flex-direction: row;
	}
	.btn-area > *{
	    flex: 1 1 auto;
	}
	.btn-area > * + *{
	    margin-left: 12px;
	}

	.btn{
	    display: block;
	    width: 100%;
	    min-width: 65px;
	    height: 50px;
	    padding: 0 10px;
	    font-weight: 500;
	    font-size: 18px;
	    color: #e15d5d;
	    border: 1px solid #e15d5d;
	    border-radius: 5px;
	    transition: 0.5s;
	}
	.btn:hover,
	.btn:disabled:hover{
		background: #fff8f8;
	}
	.btn:disabled{
		opacity: 0.25;
	}
	
	.btn.ty1{
		border: none;
		color: #fff;
		background: #aaa;
	}
	.btn.ty1:hover,
	.btn.ty1:disabled:hover{
		background: #999;
	}
	.btn.ty2,
	.btn.ty2:disabled:hover{
		color: #fff;
		background: #e15d5d;
	}
	.btn.ty2:hover{
		background: #cf4242;
	}
	.btn.reg{
	    display: block;
	    width: 100%;
	    padding: 0 60px 0 18px;
	    font-weight: 500;
	    font-size: 15px;
	    line-height: 22px;
	    color: #888;
	    text-align: left;
	    border: 1px solid #acb8cf;
	    border-radius: 5px;
	    background: url(../img/ico-plus.png) no-repeat right 18px center;
	}
	.btn.small{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		height: 30px;
		line-height: 28px;
		padding: 0 12px;
		font-size: 15px;
	}
	.c-title + .btn.reg{
	    margin-top: 9px;
	}

	.btn.close{
		width: 20px;
		min-width: 0;
		height: 20px;
		overflow: hidden;
		text-indent: -999px;
		background: url(../img/bt-close.png) no-repeat;
		border: 0;
	}
	.btn.slide-act{
	    position: relative;
	    width: 29px;
	    height: 29px;
	    overflow: hidden;
	    text-indent: -9999px;
	    border: none;
	}
	.btn.slide-act:after{
	    content: '';
	    position: absolute;
	    top: 7px;
	    left: 7px;
	    width: 15px;
	    height: 15px;
	    background: url(../img/ico-arrow-down.png) no-repeat center center;
	    transition: 0.5s;
	}
	.btn.slide-act.on:after{
	    transform: rotate(180deg);
	}

	.n-ele + .btn-area{
		margin-top: 12px;
	}
	.n-ele + .btn-area{
		margin-top: 12px;
	}

/* // button */

/*content*/

	.top-title{
	    position: relative;
	}
	.top-title.brd{
		padding-bottom: 20px;
		border-bottom: 1px solid #f3f5f9;
	}



	.desc{
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 18px;
	    color: #888;
	}
	.desc > strong{
	    color: #000;
	}
	.tit-h1 + .desc{
		margin-top: 12px;
	}
	* + .desc{
		margin-top: 9px;
	}
	.desc + .desc{
		margin-top: 0;
	}
	.desc02{
		font-weight: 400;
	    font-size: 15px;
	    line-height: 20px;
	    color: #888;
	}
	* + .desc02{
		margin-top: 9px;
	}



	/* 약관 */

		.terms-cont{
		    padding-top: 20px;
		}
		.terms-cont + .terms-cont{
		    padding-top: 20px;
		}
		.terms{
		    margin: 20px 0;
		}
		.terms > .inner{
		    max-height: 140px;
		    padding: 10px 24px 10px 0;
		    padding-bottom: 10px;
		    font-size: 12px;
		    line-height: 18px;
		    overflow: auto;
		}
		.term-chk{
		    padding: 18px 0 0 0;
		    text-align: right;
		}

	/* // 약관 */


	/* sign */

		.sign-wrap{
		    text-align: right;
		}
		.sign-cont{
		    display: inline-block;
		    width: 251px;
		}
		.sign-cont > button{
		    margin-top: 9px;
		}
		.sign-area{
		    position: relative;
		    height: 120px;
		    border: 1px solid #acb8cf;
		    border-radius: 5px;
		}
		.sign-area > img{
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    max-width: 100%;
		    max-height: 100%;
		    transform: translate(-50%, -50%);
		}
		.sign-field{
			height: 150px;
			margin-top: 18px;
			border: 1px solid #d6dde8;
			border-radius: 5px;
			background: #f3f5f9;
		}

	/* // sign */

	/* stamp */

		.stamp{
		    font-size: 0;
		}
		.stamp > img{
		    display: inline-block;
		    vertical-align: middle;
		    width: 50px;
		    height: 50px;
		}
		.stamp > .txt{
		    display: inline-block;
		    vertical-align: middle;
		    padding-left: 12px;
		    font-weight: 400;
		    font-size: 15px;
		    color: #000;
		    line-height: 50px;
		}

	/* // stamp */

	/* slide */

		.slide-top{
		    position: relative;
		    padding: 17px 0;
		    border-top: 1px solid #acb8cf;
		    border-bottom: 1px solid #eee;
		}
		
		.slide-top.etc{
			padding: 15px 0;
		}
		.slide-top .btn.slide-act{
		    position: absolute;
		    top: 50%;
		    right: 11px;
		    transform: translateY(-50%);
		}
		.slide-top > .tit-h2{
			display: inline-block;
			vertical-align: middle;
		}
		.slide-cont{
		    overflow: hidden;
		}
		.top-title.brd + .slide-top{
			margin-top: 10px;
		}
		* + .slide-top{
			margin-top: 30px;
		}
		* + .slide-top.tblty{
			margin-top: 10px;
		}
		.slide-cont .brd-ele:first-child{
			border-top: 0;
			margin-top: 0;
		}

	/* // slide */

	/* 완료 페이지 */

		.comp-cont{
		    margin-top: 120px;
		    padding-top: 90px;
		    background: url(../img/ico-contract.png) no-repeat center top;
		}

	/* // 완료 페이지 */

	/* domain list */

		.mail-list-cont{
		    position: absolute;
		    top: 59px;
		    left: 0;
		    z-index: 1;
		    width: 100%;
		    height: 0;
		    overflow: hidden;
		    background: #fff;
		}
		.mail-list-cont.on{
		    height: auto;
		}
		.mail-list{
		    padding-bottom: 12px;
		    border: 1px solid #000;
		    border-top: 1px solid #fff;
		    border-radius: 0 0 5px 5px;
		}
		.mail-list > li{
		    font-size: 15px;
		}
		.mail-list > li a{
		    display: block;
		    padding: 0 18px;
		    font-weight: 400;
		    font-size: 15px;
		    line-height: 40px;
		    color: #000;
		}
		.mail-list > li a:hover,
		.mail-list > li a:focus{
		    color: #e15d5d;
		    background: #f3f5f9;
		    outline: none;
		}

	/* // domain list */

	/* 첨부파일 */

		* + .files{
			margin-top: 9px;
		}
		.files{
			
		}
		.files a{
			font-size: 15px;
			line-height: 22px;
			color: #000;
			text-decoration: underline;
		}
		.files a + a{
			margin-left: 12px;
		}

	/* 첨부파일 */


/*content*/

/* layer pop */

	.layer-pop{
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 100;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.5);
	}
	.layer-inner{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 360px;
	    max-width: 450px;
	    padding: 20px 18px 30px;
	    background: #fff;
	    transform: translate(-50%, -50%);
	    border-radius: 5px;
	}

	.layer-inner .btn-area{
	    margin-top: 30px;
	}
	.layer-inner .btn.close{
	    position: absolute;
	    top: 18px;
	    right: 18px;
	}
	.send-ele{
	    margin: 18px 0;
	    border-top: 1px solid #d6dde8;
	    border-bottom: 1px solid #d6dde8;
	}
	.bank-i{
	    display: flex;
	    flex-direction: row;
	}
	.bank-i + .bank-i{
	    border-top: 1px solid #f3f5f9;    
	}
	.bank-i > *{
	    flex: 1 1 auto;
	    padding: 20px 18px;
	    font-weight: 400;
	    font-size: 15px;
	    letter-spacing: -0.25px;
	    color: #888;
	}
	.bank-i > *:nth-child(2){
	    text-align: right;
	}
	.send-code{
	    padding: 20px 18px;
	    font-size: 0;
	}
	.send-code > *{
	    display: inline-block;
	    vertical-align: bottom;
	}
	.s-code{}
	.s-code > strong{
	    display: inline-block;
	    vertical-align: middle;
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 30px;
	}
	.s-code > strong + .input-text{
	    margin-left: 12px;
	}
	.s-code .input-text{
	    display: inline-block;
	    vertical-align: middle;
	    width: 30px;
	}
	.s-code .input-text input{
	    height: 30px;
	    padding: 0;
	    text-align: center;
	}
	.s-code .input-text + .input-text{
	    margin-left: 5px;
	}

	.pop-scroll{
		max-height: 400px;
	}

/* // layer pop */


/* 달력 */

	.ui-datepicker{
		padding: 0 5px 5px 5px;
		border: 1px solid #acb8cf;
		overflow: hidden;
	}
	.ui-datepicker .ui-datepicker-header{
		margin: 0 -5px;
		padding: 6px 0;
		border-radius: 0;
		background: #fff;
		border: none;
		border-bottom: 1px solid #acb8cf;
	}
	.ui-datepicker .ui-datepicker-title{
		font-size: 15px;
		color: #000;
		line-height: 30px;
	}
	.ui-datepicker table{
		margin: 0;
	}
	.ui-datepicker select.ui-datepicker-month,
	.ui-datepicker select.ui-datepicker-year{
		display: inline-block;
		width: 80px;
		height: 30px;
		padding: 0 30px 0 5px;
		border: 1px solid #acb8cf;
		border-radius: 5px;
		background: #fff url(../img/ico-arrow-down.png) no-repeat right 12px center;
	}
	.ui-datepicker select.ui-datepicker-month{
		margin-left: 10px;
	}
	.ui-datepicker select.ui-datepicker-year{
		margin-right: 5px;
	}
	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next{
		top: 9px;
		width: 25px;
		height: 25px;
		border: none;
	}
	.ui-datepicker .ui-datepicker-prev:hover,
	.ui-datepicker .ui-datepicker-next:hover{
		background: #fff;
	}
	.ui-datepicker .ui-datepicker-prev-hover{
		left: 2px;
	}
	.ui-datepicker .ui-datepicker-next-hover{
		right: 2px;
	}

	.ui-datepicker .ui-datepicker-prev span,
	.ui-datepicker .ui-datepicker-next span{
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		margin: 0;
	}
	.ui-datepicker .ui-datepicker-prev span{
		background: url(../img/ico-arrow-left.png) no-repeat center center;
	}
	.ui-datepicker .ui-datepicker-next span{
		background: url(../img/ico-arrow-right.png) no-repeat center center;
	}
	
/* // 달력 */


/* scrollbar */
/*
.scroll-wrapper > .scroll-content{
    width: calc(100% - 12px) !important;
}
*/
/* // scrollbar */